.contact {
  background-image: linear-gradient(0deg, rgb(24, 125, 213) 40%, rgba(0, 196, 255, 1) 90%);
  background-repeat: no-repeat;
  background-size: cover;
}

.s-contact {
  height: 100%;
  width: 100%;
  padding: 3% 9%;
  display: flex;
  flex-direction: row;
}

.s-contact .c-side-links,
.s-contact>.email {
  height: 100%;
  width: 50%
}

.s-contact .c-side-links {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.s-contact .c-side-links>h1 {
  font-family: var(--font-fam-header);
  color: var(--bg-color-secondary);
  font-size: 6rem;
}

.s-contact .c-side-links .info-contacts {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.s-contact .c-side-links .info-contacts .info-con {
  height: 10%;
  display: flex;
  flex-direction: column;
  color: aliceblue;
  margin: 10px 0;
  gap: 0;

  font-family: var(--font-fam-normalText);
}

.s-contact .c-side-links .info-contacts .info-con .top {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  height: 50%;
}

.s-contact .c-side-links .info-contacts .info-con>p {
  font-size: 26px;
  font-weight: 700;
}



.s-contact .c-side-links .info-contacts .contact-socials {
  width: 100%;
}

.s-contact .c-side-links .info-contacts .info-con ul {
  list-style: none !important;
}

.s-contact .c-side-links .info-contacts .info-con ul li {
  display: inline-block;
  margin-right: 20px;
}


.s-contact .c-side-links .info-contacts .info-con ul li a {
  color: var(--bg-color-secondary);
  font-size: 24px;
}


.s-contact>.email {
  background: var(--bg-button);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  overflow: hidden;
}

.s-contact>.email .email-container {
  height: 100%;
  width: 100%;
  padding: 9%;
  display: flex;
  flex-direction: column;
}

.s-contact>.email .email-container .top {
  height: 15%;
  width: 100%;
  text-align: center;
  color: var(--bg-color-secondary);
}

.s-contact>.email .email-container .top h1 {
  font-family: var(--font-fam-header);
  font-weight: 700;
  font-size: 3em;
}

.s-contact>.email .email-container .top p {
  font-family: var(--font-fam-normalText);
}

.s-contact>.email .email-container form {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.s-contact>.email .email-container form .smae-con {
  position: relative;
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5% 0;
}

.s-contact>.email .email-container form .smae-con .n-con {
  height: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;

}


.s-contact>.email .email-container form .comments-con {

  display: flex;
  flex-direction: column;
}

.s-contact>.email .email-container label {
  margin: 10px 0;
  color: var(--bg-color-secondary);
}

.s-contact>.email .email-container form input,
.s-contact>.email .email-container form textarea {
  border: none;
  font-size: 16px;
}

.s-contact>.email .email-container form textarea {

  padding: 2%;
}

.s-contact>.email .email-container form input {
  height: 50%;
  padding: 5%;
}

.s-contact>.email .email-container form button {
  margin: 5% 0;
  padding: 2% 4%;
  font-size: 18px;
  border: none;
  background: var(--bg-color);
  color: aliceblue;
  cursor: pointer;
}



@media only screen and (max-width: 1120px) {
  .s-contact .c-side-links>h1 {
    font-size: 5rem;
  }

  .s-contact .c-side-links .info-contacts .info-con .top {
    font-size: 18px;
  }

  .s-contact .c-side-links .info-contacts .info-con>p {
    font-size: 26px;
  }

}

@media only screen and (max-width: 1050px) {


  .s-contact>.email .email-container form {
    transform: translateY(10%);
  }

}

@media only screen and (max-width: 900px) {
  .contact {
    height: 190%;
    padding-bottom: 9%;
  }

  .s-contact {
    height: 100%;
    width: 100%;
    padding: 3% 9%;
    display: flex;
    flex-direction: column;
  }

  .s-contact .c-side-links {

    width: 100%;
    height: 40%;
  }

  .s-contact>.email {
    height: 60%;
    width: 100%
  }

  .s-contact .c-side-links {
    display: flex;
    flex-direction: column;
  }

  .s-contact .c-side-links .info-contacts {
    gap: 10px;
  }

  .s-contact .c-side-links .info-contacts .info-con>p {
    font-size: 18px;
  }


  .s-contact>.email .email-container form {
    transform: translateY(0%);
  }
}


@media only screen and (max-width: 650px) {

  .s-contact .c-side-links {
    display: flex;
    flex-direction: column;
  }

  .s-contact .c-side-links .info-contacts {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 0;
  }

  .s-contact .c-side-links .info-contacts .info-con {
    height: 15%;
    justify-content: space-around;
  }


  .s-contact .c-side-links .info-contacts .phone {
    margin-left: 7%;
  }



  .s-contact>.email .email-container form {
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    transform: translateY(-5%);
  }

  .s-contact>.email .email-container form .smae-con {
    position: relative;
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 9% 0;
  }

  .s-contact>.email .email-container form .smae-con .n-con {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

  }

  .s-contact>.email .email-container form .comments-con {

    margin-top: 9%;
    display: flex;
    flex-direction: column;
  }

  .s-contact>.email .email-container label {
    margin: 10px 0;
    color: var(--bg-color-secondary);
  }

  .s-contact>.email .email-container form input,
  .s-contact>.email .email-container form textarea {
    border: none;
    font-size: 16px;
  }

  .s-contact>.email .email-container form textarea {
    padding: 1%;
  }

  .s-contact>.email .email-container form input {
    height: 50%;
    padding: 5%;
  }
}


@media only screen and (max-width: 550px) {

  .s-contact {
    padding: 3% 0;
  }

  .s-contact .c-side-links {

    padding: 0% 9%;
  }

  .s-contact>.email .email-container .top h1 {
    font-family: var(--font-fam-header);
    font-weight: 700;
    font-size: 3em;
  }

  .s-contact>.email .email-container form {
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    transform: translateY(2%);
  }
}

@media only screen and (max-width: 490px) {
  .s-contact .c-side-links h1 {
    font-size: 4rem;
  }

  .s-contact .c-side-links .info-contacts .phone {
    margin-left: 0%;
    gap: 0;
  }

  .s-contact .c-side-links .info-contacts .email .info-con .top {
    font-size: 12px;
  }

  .s-contact .c-side-links .info-contacts .info-con>p {
    font-size: 16px;
  }
}