.project {
  height: 1450px;
}

.project::before {
  content: "";
  position: absolute;
  top: 35%;
  left: 0%;
  height: 70%;
  width: 100%;
  background: url("../img/projects/wave.svg")no-repeat;
  background-size: cover;
}

.project .s-content {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 9%;
  padding-left: 9%;
  padding-right: 9%;
  height: 1250px;
  width: 100%;
}

.project .s-content>h1 {
  width: 100%;
  font-family: var(--font-fam-header);
  color: var(--bg-color-secondary);
  font-size: 6rem;
}

.project .s-content .gallery-sec {
  height: 100%;
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
}

.project .s-content .gallery-sec .colunm {
  position: relative;
  flex: 50%;
  width: 50%;
  height: 90%;
}

.project .s-content .gallery-sec .colunm .link-con {
  position: relative;
  width: 2%;
  height: 29%;
  margin: 50px auto;
  opacity: 0;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0) 0px 2px 1px, rgba(0, 0, 0, 0) 0px 4px 2px, rgba(0, 0, 0, 0) 0px 8px 4px, rgba(0, 0, 0, 0) 0px 16px 8px, rgba(0, 0, 0, 0) 0px 32px 16px;
  transition: 500ms;
}

.project .s-content .gallery-sec .colunm .link-con.show {
  opacity: 1;
  width: 95%;

  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.project .s-content .gallery-sec .colunm .link-con>a {
  height: 100%;
  width: 100%;
}

.project .s-content .gallery-sec .colunm .link-con>a .imgs {
  position: relative;
  width: 100%;
  height: 100%;

  overflow: hidden;
}

.project .s-content .gallery-sec .colunm .link-con>a .imgs img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: 500ms linear;
}

.project .s-content .gallery-sec .colunm .link-con:hover>a .imgs img {
  opacity: 0;
  transition: 500ms linear;

}

.project .s-content .gallery-sec .colunm .link-con>a .dis {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(0%);
  width: 100%;
  height: 100%;
  padding: 5%;

  background: var(--bg-color-transparent);
  background-image: radial-gradient(var(--bg-color-secondary) 1px, transparent 0);
  background-size: 35px 35px;
  background-position: -19px -19px;

  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;

  color: var(--bg-color-secondary);
  overflow: hidden;
  opacity: 0;
  filter: blur(20px);
  transition: 300ms ease-in-out;
}

.project .s-content .gallery-sec .colunm .link-con:hover>a .dis {
  opacity: 1;
  filter: blur(0px);
}

.project .s-content .gallery-sec .colunm .link-con>a .dis h1 {
  font-family: var(--font-fam-header);
  font-size: 36px;
  font-weight: 800;
  line-height: 120%;
  transform: translateY(100%);
  opacity: 0;
  filter: blur(50px);
}

.project .s-content .gallery-sec .colunm .link-con>a .dis:hover h1 {
  opacity: 1;
  filter: blur(0px);
  transform: translateY(0);
  transition: 300ms 250ms ease-in-out;
}

.project .s-content .gallery-sec .colunm .link-con>a .dis h2 {
  font-family: var(--font-fam-header-second);
  font-size: 14px;
  font-weight: 400;
  transform: translateY(100%);
  opacity: 0;
  filter: blur(50px);
}

.project .s-content .gallery-sec .colunm .link-con>a .dis:hover h2 {

  opacity: 1;
  filter: blur(0px);
  transform: translateY(0);
  transition: 300ms 450ms ease-in-out;
}



@media only screen and (max-width: 700px) {
  .project {
    padding-top: 20%;
    padding-left: 0%;
    padding-right: 0%;
    height: 1650px;
  }

  .project .s-content .gallery-sec .colunm {
    position: relative;
    flex: 100%;
    width: 100%;
    height: 50%;
  }

  .project .s-content .gallery-sec .colunm:nth-child(2) {
    margin-top: 70px;
  }

  .project .s-content .gallery-sec .colunm .link-con {
    position: relative;
    margin: 50px auto;
  }

  .project .s-content .gallery-sec .colunm .link-con>a .dis h1 {
    font-size: 26px;
  }
}


@media only screen and (max-width: 550px) {
  .project {
    padding-top: 20%;
    padding-left: 0%;
    padding-right: 0%;
    height: 1650px;
  }

  .project .s-content {
    padding-top: 25%;
  }

  .project .s-content>h1 {
    font-size: 3rem;
    padding: 20px;
    text-align: center;
  }

  .project .s-content .gallery-sec {
    height: 1450px;
  }

  .project .s-content .gallery-sec .colunm .link-con {
    position: relative;
    margin: 0px auto;
    height: 33.33%;
  }

  .project .s-content .gallery-sec .colunm:nth-child(2) {
    margin-top: 0px;
  }

  .project .s-content .gallery-sec .colunm .link-con.show {
    width: 100%;
  }

  .project .s-content .gallery-sec .colunm .link-con>a .dis h1 {
    font-size: 30px;
  }
}