.profeciency-tab {
  position: fixed;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(7px);
  z-index: 999999;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  transition: 500ms;
}

.profeciency-tab.profeToggle {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.profeciency-tab .main-tab {
  height: 70%;
  width: 50%;
  background: var(--bg-color-secondary);
  border-radius: 10px;
  padding: 3% 5%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  /* box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 4px, rgb(255, 255, 255) 0px 0px 0px 3px; */
}

.profeciency-tab .main-tab h1 {
  position: relative;
  width: 100%;
  text-transform: uppercase;
  color: var(--bg-color);
  font-family: var(--font-fam-header);
  font-size: 50px;
  font-weight: 800;
  padding: 15px 0;
}

.profeciency-tab .main-tab h1::before {
  content: "";
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 5%;
  width: 100%;
  background: var(--bg-color-main);
}


.profeciency-tab .main-tab .prof {
  height: 7%;
  width: 100%;
  margin-bottom: 38px;
  font-family: var(--font-fam-header-second);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.profeciency-tab .main-tab .prof p {
  margin: 3px 0;
  color: var(--bg-color);
  width: 20%;
}

.profeciency-tab .main-tab .prof .prof-con-full {
  height: 100%;
  width: 80%;
  background: #a1a1a1;
  overflow: hidden;
  border-radius: 5px;
  font-family: var(--font-fam-normalText);
  font-weight: 600;
}

.profeciency-tab .main-tab .prof .prof-con-full .prof-con {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s 0s;
}


.profeciency-tab .main-tab .prof .prof-con-full .html {
  width: 0%;
  background: #c00707;
  color: #620707;
}

.profeciency-tab.profeToggle .main-tab .prof .prof-con-full .html {
  width: 90%;
  transition: 0.8s 0.5s;
}


.profeciency-tab .main-tab .prof .prof-con-full .css {
  width: 0%;
  background: rgb(17, 71, 188);
  color: rgb(4, 21, 58);
}

.profeciency-tab.profeToggle .main-tab .prof .prof-con-full .css {
  width: 90%;
  transition: 0.8s 0.8s;
}


.profeciency-tab .main-tab .prof .prof-con-full .js {
  width: 0%;
  background: rgb(233, 208, 19);
  color: rgb(104, 93, 8);
}

.profeciency-tab.profeToggle .main-tab .prof .prof-con-full .js {
  width: 85%;
  transition: 0.8s 1.1s;
}


.profeciency-tab .main-tab .prof .prof-con-full .node {
  width: 0%;
  background: rgb(14, 211, 10);
  color: rgb(5, 79, 3);
}

.profeciency-tab.profeToggle .main-tab .prof .prof-con-full .node {
  width: 75%;
  transition: 0.8s 1.4s;
}


.profeciency-tab .main-tab .prof .prof-con-full .py {
  width: 0%;
  background: rgb(232, 105, 25);
  color: rgb(85, 37, 7);
}

.profeciency-tab.profeToggle .main-tab .prof .prof-con-full .py {
  width: 75%;
  transition: 0.8s 1.7s;
}

.profeciency-tab>p {
  margin: 10px 0;
  color: aliceblue;
  font-family: var(--font-fam-header);
}

@media only screen and (max-width: 1100px) {

  .profeciency-tab .main-tab .prof {
    height: 10%;
    flex-direction: column;
  }

  .profeciency-tab .main-tab .prof p {
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 1000px) {

  .profeciency-tab .main-tab h1 {
    font-size: 30px;
  }

}

@media only screen and (max-width: 800px) {

  .profeciency-tab .main-tab {
    height: 75%;
    width: 70%;
    padding: 3% 10%;
  }

  .profeciency-tab .main-tab .prof {
    height: 12%;
    width: 100%;
    margin-bottom: 20px;
    font-family: var(--font-fam-header-second);
  }

  .profeciency-tab .main-tab .prof .prof-con-full {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {

  .profeciency-tab {
    text-align: center;
  }

  .profeciency-tab .main-tab {
    height: 55%;
    width: 85%;
    padding: 3% 7%;
  }

}

@media only screen and (max-width: 400px) {

  .profeciency-tab .main-tab h1 {
    font-size: 22px;
  }

  .profeciency-tab .main-tab .prof p {

    font-size: 12px;
  }

}