.social-nav {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  height: 250px;
  width: 50px;
  z-index: 99999;
  background-color: var(--bg-color-secondary-invis);
  backdrop-filter: blur(5px);
  margin-right: 6%;
  transition: all 700ms;

  overflow: hidden;
  border-radius: 5px;
}

.social-nav.sticky {
  margin-right: 1%;
}

.social-nav.trans {
  right: -20%;
  transition: all 700ms;
}

.social-nav ul {
  height: 100%;
  width: 100%;
  list-style: none;

}

.social-nav ul li {
  height: calc(100% * (1/4));
  width: 100%;
}

.social-nav ul li:hover {
  background: var(--bg-color-secondary);
}

.social-nav ul li a {
  height: 100%;
  width: 100%;

  /* change to flex display, later */
  display: grid;
  place-items: center;
  align-content: center;

  font-size: 24px;
  color: var(--bg-color-main);
  text-decoration: none;
}

@media only screen and (max-width: 700px) {
  .social-nav {
    top: 85%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 250px;
    height: 50px;
  }

  .social-nav.trans {
    top: 120%;
    transition: all 700ms;
  }

  .social-nav ul {
    display: flex;
    flex-direction: row;

  }

  .social-nav ul li {
    width: calc(100% * (1/5));
    height: 100%;
  }
}